body {
    font-family: Arial, "sans-serif", Tahoma;
    background: yellow;
}

#banner img{
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -600px;
    z-index: 1;
}

#nav {
    position: fixed;
    top: 210px;
    right: 0;
}

#content {
    position: relative;
    top: 300px;
    left: 50px;
    width: 50%
}


footer {
    
}