body {
    font-family: Arial, "sans-serif", Tahoma;
    background-color: #E7D063;
}

#banner img{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#nav {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#content {
    position: relative;
    top: 250px;
    left: 100px;
    width: 50%
}

h1 {
    font-family: fantasy;
}


footer {
    
}